[Unit]
Description=Remote Server service
After=dlog-main.service dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/remote-server
Restart=always

[Install]
WantedBy=default.target
